body {
    min-width: 15rem;
    margin: 1rem;
}

header {
    border-bottom: 1px solid whitesmoke;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
}

#tickets_list > li {
    margin-bottom: 1rem;
}

#days_list {
    display: flex;
    margin: 0.5rem 0;
}

#days_list li {
    flex: 1;
}

#days_list li:not(:last-of-type) {
    margin-right: 0.5rem;
}

#days_list li button {
    width: 100%;
}

#days_list li button.zero {
    background: whitesmoke;
}
#days_list li button.half {
    background: linear-gradient(to bottom right, yellowgreen 49%, whitesmoke 51%);
}
#days_list li button.full {
    background: yellowgreen;
}


li#none_found {
    font-style: italic;
    opacity: 0.5;
}

details {
    display: flex;
    flex-direction: column;
    width: 100%;
}

details > button {
    background: none;
    padding: 0;
}

details > button:hover {
    color: firebrick;
    text-decoration: underline;
}

footer {
    /* align-items: center; */
    display: flex;
    font-size: inherit;
}

input,
button {
    font-size: inherit;
    font-family: inherit;
}

button {
    background: whitesmoke;
    border: none;
    border-radius: 0.25rem;
}

button, summary {
    cursor: pointer;
}

footer label {
    align-self: center;
    margin-right: 0.5rem;
}

footer input {
    border: 1px solid whitesmoke;
    border-right: none;
    border-bottom-left-radius: 5rem;
    border-top-left-radius: 5rem;
    flex: 1;
    padding-left: 0.5rem;
}

footer button {
    border: none;
    border-bottom-right-radius: 5rem;
    border-top-right-radius: 5rem;
    color: white;
    background: lightskyblue;
    font-family: monospace;
    font-size: 1.5rem;
    font-weight: bold;
}

/* Classes */

.hide {
    display: none;
}